.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 649px;
    height: 314px;
    margin: 300px 397px 100px 398px;

    &__icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
    }

    &__icon {
        width: 120px;
        height: 120px;
    }

    &__title {
        font-family: "Manrope", Sans-serif;
        font-weight: 800;
        color: #000;
        font-size: 48px;
        text-align: center;
        line-height: 32px;
        white-space: nowrap;
        margin-top: 10px;
    }

    &__description {
        font-family: "Manrope", Sans-serif;
        font-weight: 500;
        color: #000;
        font-size: 18px;
        text-align: center;
        line-height: 32px;
        white-space: nowrap;
        margin-top: 12px;
    }

    &__button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 25px 40px;
        background-color: #f84646;
        border-radius: 8px;
        margin-top: 12px;

        &-text {
            font-family: "Manrope", Sans-serif;
            font-weight: 600;
            color: #fff;
            font-size: 24px;
            line-height: 20px;
            white-space: nowrap;
        }
    }
}

@media (max-width: 430px) {
    .contact {
        width: 375px;
        height: 438px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 30px 50px 0;
        padding: 200px 0 70px;
        background-color: #fff;

        &__icon-wrapper {
            position: relative;
            margin-bottom: 1.5rem;
        }

        &__icon-background {
            display: none;
        }

        &__icon {
            width: 80px;
            height: 80px;

            display: block;
            position: relative;
            background: none;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 50px;
                height: 50px;
                border: 2px solid #000;
                border-radius: 50%;
            }

            &::before {
                left: 0;
                background: transparent;
            }

            &::after {
                right: 0;
                background: #ff0000;
                border: none;
            }
        }

        &__title {
            font-size: 36px;
            line-height: 32px;
            font-weight: bold;
            margin-bottom: 12px;
            text-transform: uppercase;
        }

        &__description {
            font-size: 14px;
            margin-bottom: 20px;
            color: #333;
            line-height: 25px;
            width: 335px;
            white-space: inherit;
        }

        &__button {
            background-color: #f84646;
            border-radius: 8px;
            gap: 10px;
            padding: 0;
            width: 124px;
            height: 42px;
        }

        &__button-text {
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
            padding: 25px 40px;
        }
    }

}