.hero {
    position: absolute;
    width: 669px;
    height: 406px;
    top: 200px;
    left: 122px;

    &__title {
        position: absolute;
        width: 665px;
        top: 0;
        left: 0;
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-size: 64px;
        line-height: 82px;
        color: #000;
    }

    &__description {
        position: absolute;
        width: 650px;
        top: 184px;
        left: 0;
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        letter-spacing: 0.2px;
        color: #000;
    }

    &__signup {
        position: absolute;
        width: 506px;
        height: 73px;
        top: 333px;
        left: 0;

        .signup {
            position: absolute;
            width: 502px;
            height: 73px;
            background-color: #fff;
            border-radius: 8px;

            &__text {
                position: absolute;
                top: 19px;
                left: 32px;
                font-family: "Manrope", sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 36px;
                letter-spacing: 0.2px;
                color: #00000066;
                white-space: nowrap;
            }

            &__button-wrapper {
                position: absolute;
                width: 136px;
                height: 61px;
                top: 6px;
                left: 360px;
                background-color: #f84646;
                border-radius: 8px;
            }

            &__button {
                all: unset;
                position: absolute;
                top: 13px;
                left: 37px;
                font-family: "Manrope", sans-serif;
                font-weight: 700;
                font-size: 16px;
                line-height: 36px;
                letter-spacing: 0.2px;
                color: #fff;
                white-space: nowrap;
            }
        }
    }
}

@media (max-width: 430px) {
    .hero {
        position: absolute;
        width: auto;
        height: 380px;
        top: 137px;
        left: 20px;

        &__title {
            position: absolute;
            width: 335px;
            font-family: "Manrope", Helvetica;
            font-weight: 800;
            color: #000000;
            font-size: 42px;
            text-align: center;
            letter-spacing: 0;
            line-height: 57.5px;
        }

        &__description {
            position: absolute;
            width: 335px;
            top: 190px;
            left: 0;
            font-family: "Manrope", Helvetica;
            font-weight: 400;
            color: #000000;
            font-size: 12px;
            text-align: center;
            letter-spacing: 0.20px;
            line-height: 23px;
        }

        &__signup {
            position: absolute;
            width: 335px;
            height: 60px;
            top: 320px;
            left: 0;

            .signup {
                position: relative;
                width: 335px;
                height: 60px;
                background-color: #ffffff;
                border-radius: 8px;

                &__text {
                    position: absolute;
                    width: 194px;
                    top: 13px;
                    left: 21px;
                    font-family: "Manrope", Helvetica;
                    font-weight: 400;
                    color: #00000066;
                    font-size: 14px;
                    letter-spacing: 0.20px;
                    line-height: 36px;
                    white-space: nowrap;
                }

                &__button-wrapper {
                    position: absolute;
                    width: 91px;
                    height: 50px;
                    top: 5px;
                    left: 240px;
                    background-color: #f84646;
                    border-radius: 8px;
                }

                &__button {
                    position: absolute;
                    width: 54px;
                    top: 16px;
                    left: 18px;
                    font-family: "Manrope", Helvetica;
                    font-weight: 700;
                    color: #ffffff;
                    font-size: 14px;
                    letter-spacing: 0.20px;
                    line-height: normal;
                }
            }
        }
    }
}