.logo-clouds {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 59px 165px;
    position: relative;
    top: 160px;
    left: 0;
    background-color: #f4f5f7;

    &__heading {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    &__title {
        width: 1110px;
        font-family: "Manrope", Sans-serif;
        font-weight: 800;
        color: #18191f;
        font-size: 48px;
        text-align: center;
        line-height: 64px;
    }

    &__description {
        align-self: stretch;
        font-family: "Manrope", Sans-serif;
        font-weight: 500;
        color: #18191f;
        font-size: 18px;
        text-align: center;
        line-height: 32px;
    }

    &__logos {
        display: inline-flex;
        align-items: center;
        gap: 24px;
        width: 946px;
        height: 336px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__col {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    &__logo {
        position: relative;
        width: 170px;
        height: 96px;
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;

        &--1,
        &--2,
        &--4,
        &--5,
        &--7,
        &--8,
        &--9 {
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
        }

        &--1 {
            width: 134px;
            height: 67px;
        }

        &--2 {
            width: 122px;
            height: 61px;
        }

        &--4,
        &--5 {
            width: 132px;
            height: 66px;
        }

        &--7 {
            width: 118px;
            height: 59px;
        }

        &--8 {
            width: 98px;
            height: 34px;
        }

        &--9 {
            width: 103px;
            height: 32px;
        }
    }

    &__bookmyshow-logo {
        position: relative;
        width: 123px;
        height: 37px;
        display: flex;
        align-items: center;
        justify-content: center;

        .logo-clouds__logo--3 {
            width: 121px;
            height: 35px;
        }
    }

    &__see-all {
        display: flex;
        width: 167px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;

        &-text {
            font-family: "Manrope", Sans-serif;
            font-weight: 600;
            color: #f84646;
            font-size: 16px;
            text-align: center;
            line-height: 32px;
            white-space: nowrap;
        }

        &-icon {
            width: 16px;
            height: 16px;
            background-size: 100% 100%;
        }
    }
}

@media (max-width: 430px) {
    .logo-clouds {
        padding: 40px 20px 0;
        gap: 32px;
        width: auto;
        top: 80px;
        display: flex;

        &__heading {
            align-items: center;
            text-align: center;
        }

        &__title {
            width: 100%;
            font-size: 36px;
            line-height: 41.5px;
        }

        &__description {
            font-size: 14px;
            line-height: 32px;
        }

        &__logos {
            flex-direction: column;
            width: 100%;
            gap: 24px;
            padding-bottom: 40px;
            height: auto;
        }

        &__col {
            gap: 24px;
        }

        &__logo {
            width: auto;
            max-width: 250px;
            height: auto;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__logo {
            position: static;
            width: 170px;
            height: 96px;
            border-radius: 16px;
            object-fit: contain;
        }

        &__bookmyshow-logo,
        &__see-all,
        &__icon {
            position: static;
            width: auto;
            height: auto;
        }

        &__see-all {
            width: 100%;
            justify-content: center;
            padding: 12px;
            gap: 8px;

            &-text {
                font-size: 14px;
                line-height: 1.5;
            }

            &-icon {
                width: 14px;
                height: 14px;
                font-size: 12px;
            }
        }

        &__logo {
            &--7 {
                display: none;
            }

            &--8 {
                display: none;
            }

            &--9 {
                display: none;
            }
        }

        .logo-clouds {
            &__col:nth-of-type(n+4) {
                display: none;
                width: auto;
            }
        }
    }
}