$color-black: #000;
$color-gray-dark: #18191f;
$color-gray: #2e2e2e;
$color-gray-medium: rgba(0, 0, 0, 0.4);
$color-gray-light: #808080;
$color-gray-lighter: #e5e5e5;
$color-bg-light: #f4f5f7;
$color-primary: #f84646;
$color-white: #fff;
$font-primary: "Manrope", sans-serif;
$font-secondary: "Inter", Sans-serif;